// info section
section.info_section#contact
  .info_container
    .container
      .row
        .col-lg-9
          .info_contact
            .row
              .col-md-3
                a.link-box(href='#')
                  i.fa.fa-map-marker(aria-hidden='true')
                  span
                    | Location
              .col-md-5
                a.link-box(href='#')
                  i.fa.fa-phone(aria-hidden='true')
                  span
                    | Call +01 1234567890
              .col-md-4
                a.link-box(href='#')
                  i.fa.fa-envelope(aria-hidden='true')
                  span
                    | demo@gmail.com
      .info_logo
        a.navbar-brand(href='/')
          span
            | Natours
      .social-box
        a(href='')
          i.fa.fa-facebook(aria-hidden='true')
        a(href='')
          i.fa.fa-twitter(aria-hidden='true')
        a(href='')
          i.fa.fa-instagram(aria-hidden='true')
        a(href='')
          i.fa.fa-youtube(aria-hidden='true')
// end info section
// footer section
footer.footer_section
  .container
    p
      | &copy; 
      span
      |  2025 Node.js project developed by Yijia Xu.